.banner{
    background-image: url("../img/star-wars-logo.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.menu{
    background-color: darkgrey;
}

.historia{
    background-color:bisque; 
    
}

.historia1,
.historia2{
    padding: 20px;
}

.secciones{
    padding: 20px 0;
    text-align: center;
}

.planetas{
    
    background: linear-gradient(cadetblue, white)
}

.especies{
    background:linear-gradient(steelblue,white);
}
